<a href="https://colab.research.google.com/github/mayankkumar4605-png/AI-IN-DATA-SCIENCE/blob/Class-Work-(Pandas)/Copy_of_Modul2_Pandas(Series).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data Manipulation with Pandas**

In [ ]:
#import libraries
import pandas as pd

In [ ]:
#creating a list
my_list=[1,2,3,4,5]

#creating the series with the help of pandas function
var=pd.Series(my_list)

#print the series
var

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
#indexing in series

#creating the series with the help of pandas function
var=pd.Series(my_list,index=["A","B","C","D","E"])

#print the series
print(var)

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [ ]:
#change the data type,
var=pd.Series(my_list,index=["A","B","C","D","E"],dtype="float")

#print the series
var

A    1.0
B    2.0
C    3.0
D    4.0
E    5.0
dtype: float64

In [ ]:
#change the data type,
var=pd.Series(my_list,index=["A","B","C","D","E"],dtype="float",name="My Series")

#print the series
var

A    1.0
B    2.0
C    3.0
D    4.0
E    5.0
Name: My Series, dtype: float64

In [ ]:
#creating series with the help of dictionary
dict={

    "A":(1,2,3),
    "B":(2,3,4),
  }
var=pd.Series(dict)
var

A    (1, 2, 3)
B    (2, 3, 4)
dtype: object

In [ ]:
#creating series with the help of dictionary
dict={

    "Name":["Karan","Mayank","Ayush"],
    "Marks":[34,23,24],

  }
var=pd.Series(dict)
var

Name     [Karan, Mayank, Ayush]
Marks              [34, 23, 24]
dtype: object

In [ ]:
#print single variable i series
single_var=pd.Series(5,index=["A","B","C"])
single_var

A    5
B    5
C    5
dtype: int64

#Operations in Pandas Series

In [ ]:
#Opreation in series

#creating first list
num1=pd.Series(10,index=[1,2,3,4])

#creating second list
num2=pd.Series(5,index=[1])

#Addition operation in series
num1+num2

1    15.0
2     NaN
3     NaN
4     NaN
dtype: float64

In [ ]:
#Opreation in series

#creating first list
num1=pd.Series(5,index=[1,21,3,4])

#creating second list
num2=pd.Series(50,index=[51,6,7,8])

#Addition operation in series
num1+num2

1    NaN
3    NaN
4    NaN
6    NaN
7    NaN
8    NaN
21   NaN
51   NaN
dtype: float64

In [ ]:
import pandas as pd

#Opreation(+,-,*,?) in series

#creating first list
num1=pd.Series([1,2,3,4])

#creating second list
num2=pd.Series([5,6,7,8])

#Addition operation in series
num1+num2

0     6
1     8
2    10
3    12
dtype: int64

#DataFrame

In [ ]:
#creating list
a1=([1,2,3],[4,5,6],[7,8,9])

#define variable for dataframe
var1=pd.DataFrame(a1)
var1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
#creating series with the help of dictionary
dict={

    "Name":["Karan","Mayank","Ayush"],
    "Age":[34,23,24],
    "Contact number": [9871655197,7210456634,8920274096],
    "Height": [45.5,34.5,70.3],
    "Status": [True,False,True]

  }
var=pd.DataFrame(dict)
var

In [ ]:
#access only one column
dict={

    "Name":["Karan","Mayank","Ayush"],
    "Age":[34,23,24],
    "Height": [45.5,34.5,70.3],

  }
var3=pd.DataFrame(dict, columns=["Name"])
var3

     Name
0   Karan
1  Mayank
2   Ayush

In [ ]:
print(var3["Name"][1])

Mayank

In [ ]:
import pandas as pd
Sr = {
    "Name": pd.Series(["mayank","Dhruv","ayush"]),
    "Marks": pd.Series([45,34,53])
}
MN=pd.DataFrame(Sr)

In [ ]:
MN

     Name  Marks
0  mayank     45
1   Dhruv     34
2   ayush     53

#INSERT IN PANDAS

In [ ]:
import pandas as pd

# Define the initial dictionary
info = {
    "Name": pd.Series(["mayank","Dhruv","ayush"]),
    "Marks": pd.Series([45,34,53])
}

info = pd.DataFrame(info)

age_values = [25, 30, 22]

info.insert(2, 'Age', age_values)

print(info)

     Name  Marks  Age
0  mayank     45   25
1   Dhruv     34   30
2   ayush     53   22

#Remove in Pandas

In [ ]:
import pandas as pd

# Define the initial dictionary
info = {
    "Name": pd.Series(["mayank","Dhruv","ayush"]),
    "Marks": pd.Series([45,34,53])
}

info = pd.DataFrame(info)

age_values = [25, 30, 22]

info.insert(2, 'Age', age_values)

Vard = info.pop("Age")

In [ ]:
del info["Name"]

In [ ]:
empdetail ={
   "Name" : ["Ankit","Rohit","Anuj"],
    "Salary" : [20000,40000,25000],
    "Department" : ["IT","HR","Manager"],
    "City" : ["Greater Noida","Delhi","Faridabad"]
}
var=pd.DataFrame(empdetail)
var
var.to_csv("empdetail.csv")