<a href="https://colab.research.google.com/github/mayankkumar4605-png/AI-IN-DATA-SCIENCE/blob/Class-Work-(Pandas)/Data_cleaning_(Import_libraries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Import Libararies

In [8]:
import pandas as pd

#Upload dataset for cleaning

In [10]:
df=pd.read_csv('/content/Messy_Employment_India_Dataset.csv')

In [11]:
df.head(10)

,Status,Age Group,Education,Industry,Location,AI Risk,Years of Experience,Monthly Salary (INR),Date Recorded
0,EMPLOYED,25_34,high school,Technology,Urban,NaN,NaN,40700.0,1/1/2023
1,EMPLOYED,18-24,Diploma,Fintech,rural,moderate,NaN,17500.0,1/2/2023
2,EMPLOYED,25_34,High School,Retail,Delhi,Low,16.0,77600.0,1/3/2023
3,UNEMPLOYED,18-24,Masters,Retail,Urban,Low,30.0,100200.0,1/4/2023
4,NaN,45-54,Diploma,Fintech,Hyderabad,low,9.0,19500.0,1/5/2023
5,Unemployed,25_34,PhD,Tech,Bangalore,HIGH,NaN,54500.0,1/6/2023
6,employed,35 - 44,Master,NaN,Mumbai,moderate,20.0,136500.0,1/7/2023
7,unemployed,35 - 44,Master,NaN,rural,Low,28.0,25300.0,1/8/2023
8,employed,35 - 44,Ph.D,Retail,NaN,Medium,0.0,103600.0,1/9/2023
9,unemployed,55+,Ph.D,Tech,NaN,NaN,3.0,126500.0,1/10/2023

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Status                1732 non-null   object
 1   Age Group             1768 non-null   object
 2   Education             1804 non-null   object
 3   Industry              1799 non-null   object
 4   Location              1787 non-null   object
 5   AI Risk               1716 non-null   object
 6   Years of Experience   980 non-null    float64
 7   Monthly Salary (INR)  1613 non-null   float64
 8   Date Recorded         2000 non-null   object
dtypes: float64(2), object(7)
memory usage: 140.8+ KB

In [13]:
df.describe()

       Years of Experience  Monthly Salary (INR)
count           980.000000           1613.000000
mean             15.244898          76886.360818
std               9.103941          41628.008054
min               0.000000           5100.000000
25%               7.000000          40700.000000
50%              16.000000          77200.000000
75%              23.000000         112400.000000
max              30.000000         149900.000000

In [14]:
df.shape

(2000, 9)

#Data cleaning

In [15]:
df.isnull()

,Status,Age Group,Education,Industry,Location,AI Risk,Years of Experience,Monthly Salary (INR),Date Recorded
0,False,False,False,False,False,True,True,False,False
1,False,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
1995,False,False,False,False,False,False,True,False,False
1996,False,False,False,False,True,True,False,False,False
1997,True,False,False,False,True,False,True,False,False
1998,False,False,False,False,False,False,False,False,False
1999,False,False,False,True,True,False,True,False,False

In [16]:
df.isnull().sum()

Status                   268
Age Group                232
Education                196
Industry                 201
Location                 213
AI Risk                  284
Years of Experience     1020
Monthly Salary (INR)     387
Date Recorded              0
dtype: int64

#handle Missing Values

In [19]:
df['Years of Experience'] = df['Years of Experience'].fillna(df['Years of Experience'].mean())

In [20]:
df

,Status,Age Group,Education,Industry,Location,AI Risk,Years of Experience,Monthly Salary (INR),Date Recorded
0,EMPLOYED,25_34,high school,Technology,Urban,NaN,15.244898,40700.0,1/1/2023
1,EMPLOYED,18-24,Diploma,Fintech,rural,moderate,15.244898,17500.0,1/2/2023
2,EMPLOYED,25_34,High School,Retail,Delhi,Low,16.000000,77600.0,1/3/2023
3,UNEMPLOYED,18-24,Masters,Retail,Urban,Low,30.000000,100200.0,1/4/2023
4,NaN,45-54,Diploma,Fintech,Hyderabad,low,9.000000,19500.0,1/5/2023
...,...,...,...,...,...,...,...,...,...
1995,employed,25-34,Ph.D,Finance,Hyderabad,Low,15.244898,113000.0,6/18/2028
1996,EMPLOYED,25-34,PhD,Tech,NaN,NaN,22.000000,102200.0,6/19/2028
1997,NaN,35 - 44,Masters,Education,NaN,low,15.244898,31600.0,6/20/2028
1998,EMPLOYED,25_34,high school,Retail,Mumbai,HIGH,22.000000,92500.0,6/21/2028
1999,UNEMPLOYED,25_34,High School,NaN,NaN,moderate,15.244898,43300.0,6/22/2028

In [22]:
#Fill missing category values
df['Location'] = df['Location'] .fillna("Unknown")

In [23]:
df

,Status,Age Group,Education,Industry,Location,AI Risk,Years of Experience,Monthly Salary (INR),Date Recorded
0,EMPLOYED,25_34,high school,Technology,Urban,NaN,15.244898,40700.0,1/1/2023
1,EMPLOYED,18-24,Diploma,Fintech,rural,moderate,15.244898,17500.0,1/2/2023
2,EMPLOYED,25_34,High School,Retail,Delhi,Low,16.000000,77600.0,1/3/2023
3,UNEMPLOYED,18-24,Masters,Retail,Urban,Low,30.000000,100200.0,1/4/2023
4,NaN,45-54,Diploma,Fintech,Hyderabad,low,9.000000,19500.0,1/5/2023
...,...,...,...,...,...,...,...,...,...
1995,employed,25-34,Ph.D,Finance,Hyderabad,Low,15.244898,113000.0,6/18/2028
1996,EMPLOYED,25-34,PhD,Tech,Unknown,NaN,22.000000,102200.0,6/19/2028
1997,NaN,35 - 44,Masters,Education,Unknown,low,15.244898,31600.0,6/20/2028
1998,EMPLOYED,25_34,high school,Retail,Mumbai,HIGH,22.000000,92500.0,6/21/2028
1999,UNEMPLOYED,25_34,High School,NaN,Unknown,moderate,15.244898,43300.0,6/22/2028

In [25]:
#Remove duplicate rows
df=df.drop_duplicates()

#Check the fix datatype
df.dtypes

Status                   object
Age Group                object
Education                object
Industry                 object
Location                 object
AI Risk                  object
Years of Experience     float64
Monthly Salary (INR)    float64
Date Recorded            object
dtype: object

In [30]:
df['Age Group'] = df['Age Group']
df

,Status,Age Group,Education,Industry,Location,AI Risk,Years of Experience,Monthly Salary (INR),Date Recorded
0,EMPLOYED,25_34,high school,Technology,Urban,NaN,15.244898,40700.0,1/1/2023
1,EMPLOYED,18-24,Diploma,Fintech,rural,moderate,15.244898,17500.0,1/2/2023
2,EMPLOYED,25_34,High School,Retail,Delhi,Low,16.000000,77600.0,1/3/2023
3,UNEMPLOYED,18-24,Masters,Retail,Urban,Low,30.000000,100200.0,1/4/2023
4,NaN,45-54,Diploma,Fintech,Hyderabad,low,9.000000,19500.0,1/5/2023
...,...,...,...,...,...,...,...,...,...
1995,employed,25-34,Ph.D,Finance,Hyderabad,Low,15.244898,113000.0,6/18/2028
1996,EMPLOYED,25-34,PhD,Tech,Unknown,NaN,22.000000,102200.0,6/19/2028
1997,NaN,35 - 44,Masters,Education,Unknown,low,15.244898,31600.0,6/20/2028
1998,EMPLOYED,25_34,high school,Retail,Mumbai,HIGH,22.000000,92500.0,6/21/2028
1999,UNEMPLOYED,25_34,High School,NaN,Unknown,moderate,15.244898,43300.0,6/22/2028

In [33]:
#Rename column(optional)
df = df.rename(columns={
 'Years of Experience': 'YOF',
 'Location': 'Loc'
})
df

,Status,Age Group,Education,Industry,Loc,AI Risk,YOF,Monthly Salary (INR),Date Recorded
0,EMPLOYED,25_34,high school,Technology,Urban,NaN,15.244898,40700.0,1/1/2023
1,EMPLOYED,18-24,Diploma,Fintech,rural,moderate,15.244898,17500.0,1/2/2023
2,EMPLOYED,25_34,High School,Retail,Delhi,Low,16.000000,77600.0,1/3/2023
3,UNEMPLOYED,18-24,Masters,Retail,Urban,Low,30.000000,100200.0,1/4/2023
4,NaN,45-54,Diploma,Fintech,Hyderabad,low,9.000000,19500.0,1/5/2023
...,...,...,...,...,...,...,...,...,...
1995,employed,25-34,Ph.D,Finance,Hyderabad,Low,15.244898,113000.0,6/18/2028
1996,EMPLOYED,25-34,PhD,Tech,Unknown,NaN,22.000000,102200.0,6/19/2028
1997,NaN,35 - 44,Masters,Education,Unknown,low,15.244898,31600.0,6/20/2028
1998,EMPLOYED,25_34,high school,Retail,Mumbai,HIGH,22.000000,92500.0,6/21/2028
1999,UNEMPLOYED,25_34,High School,NaN,Unknown,moderate,15.244898,43300.0,6/22/2028

In [34]:
# Handle Outliers (Simple Filtering)
df_sort = df[df['Monthly Salary (INR)'] < 10000]
df_sort.head()
{"repr_error":"0","type":"dataframe","variable_name":"df_sort"}

{'repr_error': '0', 'type': 'dataframe', 'variable_name': 'df_sort'}

In [37]:
#Clean text data
df['Education'] = df['Education'].str.strip()
#Converts all city names to lowercase letters.
df['Loc'] = df['Loc'].str.lower()

df

,Status,Age Group,Education,Industry,Loc,AI Risk,YOF,Monthly Salary (INR),Date Recorded
0,EMPLOYED,25_34,high school,Technology,urban,NaN,15.244898,40700.0,1/1/2023
1,EMPLOYED,18-24,Diploma,Fintech,rural,moderate,15.244898,17500.0,1/2/2023
2,EMPLOYED,25_34,High School,Retail,delhi,Low,16.000000,77600.0,1/3/2023
3,UNEMPLOYED,18-24,Masters,Retail,urban,Low,30.000000,100200.0,1/4/2023
4,NaN,45-54,Diploma,Fintech,hyderabad,low,9.000000,19500.0,1/5/2023
...,...,...,...,...,...,...,...,...,...
1995,employed,25-34,Ph.D,Finance,hyderabad,Low,15.244898,113000.0,6/18/2028
1996,EMPLOYED,25-34,PhD,Tech,unknown,NaN,22.000000,102200.0,6/19/2028
1997,NaN,35 - 44,Masters,Education,unknown,low,15.244898,31600.0,6/20/2028
1998,EMPLOYED,25_34,high school,Retail,mumbai,HIGH,22.000000,92500.0,6/21/2028
1999,UNEMPLOYED,25_34,High School,NaN,unknown,moderate,15.244898,43300.0,6/22/2028

#Data Validation

In [38]:
df = df[df['YOF'] > 0]
#df = df[(df['Age'] > 0) & (df['Age'] <= 120)]
df

,Status,Age Group,Education,Industry,Loc,AI Risk,YOF,Monthly Salary (INR),Date Recorded
0,EMPLOYED,25_34,high school,Technology,urban,NaN,15.244898,40700.0,1/1/2023
1,EMPLOYED,18-24,Diploma,Fintech,rural,moderate,15.244898,17500.0,1/2/2023
2,EMPLOYED,25_34,High School,Retail,delhi,Low,16.000000,77600.0,1/3/2023
3,UNEMPLOYED,18-24,Masters,Retail,urban,Low,30.000000,100200.0,1/4/2023
4,NaN,45-54,Diploma,Fintech,hyderabad,low,9.000000,19500.0,1/5/2023
...,...,...,...,...,...,...,...,...,...
1995,employed,25-34,Ph.D,Finance,hyderabad,Low,15.244898,113000.0,6/18/2028
1996,EMPLOYED,25-34,PhD,Tech,unknown,NaN,22.000000,102200.0,6/19/2028
1997,NaN,35 - 44,Masters,Education,unknown,low,15.244898,31600.0,6/20/2028
1998,EMPLOYED,25_34,high school,Retail,mumbai,HIGH,22.000000,92500.0,6/21/2028
1999,UNEMPLOYED,25_34,High School,NaN,unknown,moderate,15.244898,43300.0,6/22/2028

In [39]:
# Final Check
df.head()

,Status,Age Group,Education,Industry,Loc,AI Risk,YOF,Monthly Salary (INR),Date Recorded
0,EMPLOYED,25_34,high school,Technology,urban,NaN,15.244898,40700.0,1/1/2023
1,EMPLOYED,18-24,Diploma,Fintech,rural,moderate,15.244898,17500.0,1/2/2023
2,EMPLOYED,25_34,High School,Retail,delhi,Low,16.000000,77600.0,1/3/2023
3,UNEMPLOYED,18-24,Masters,Retail,urban,Low,30.000000,100200.0,1/4/2023
4,NaN,45-54,Diploma,Fintech,hyderabad,low,9.000000,19500.0,1/5/2023

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1965 entries, 0 to 1999
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Status                1702 non-null   object
 1   Age Group             1738 non-null   object
 2   Education             1775 non-null   object
 3   Industry              1767 non-null   object
 4   Loc                   1965 non-null   object
 5   AI Risk               1684 non-null   object
 6   YOF                   1965 non-null   float64
 7   Monthly Salary (INR)  1582 non-null   float64
 8   Date Recorded         1965 non-null   object
dtypes: float64(2), object(7)
memory usage: 218.1+ KB

In [41]:
#Save cleaned data
df.to_csv("cleaned_data.csv", index=False)