#Basic Code

In [ ]:
print("hello world")

hello world

In [ ]:
a = "mayank"
print(a)

mayank

In [ ]:
a = "Shivam "
b = "Mohan"
print(a+b /n)

Shivam Mohan

#Operators

# 1. Arthematic Operator

In [ ]:
#Arthrmatic Operator
a=3
b=4
print("sum of a+b is",a+b)

sum of a+b is 7

In [ ]:
print("subtract of a-b is",a-b)

subtract of a-b is -1

In [ ]:
print("multiply of a*b is ",a*b)

multiply of a*b is  12

In [ ]:
print("Divide of a/b is",a/b)

Divide of a/b is 0.75

# 2. Relational Operator

In [ ]:
a=20
b=30
print(a==b)

False

In [ ]:
print(a!=b)

True

In [ ]:
print(a>=b)

False

In [ ]:
print(a<=b)

True

In [ ]:
print(a>b)

False

In [ ]:
print(a<b)

True

# 3. Assignment Operator

In [ ]:
a=23
a+=45
print(a)

68

In [ ]:
a=45
a-=75
print(a)

-30

In [ ]:
a= 75
a*=933
print(a)

69975

In [ ]:
a=56
a/=4
print(a)

14.0

In [ ]:
a=56
a%=54
print(a)

2

In [ ]:
a=4
a**=5
print(a)

1024

# 4. Logical operator

In [ ]:
#logical Operator

x=True
y=False
print(x and y)
print(x or y)

False
True

# Task Practice

#Sum of two numbers

In [ ]:
a=36
b=37
print("sum of two numbers is =",a+b)

sum of two numbers is = 73

#Area of Square program

In [ ]:
side = float(input("Enter the side of square:"))
area = side*side
print("Area of a square =",area)

Enter the side of square:4
Area of a square = 16.0

#input 2 floating number average

In [ ]:
a=float(input("Enter the first number:"))
b=float(input("Enter the second number:"))
avg=(a+b)/2
print("average of two numbers =",avg)

Enter the first number:2
Enter the second number:3
average of two numbers = 2.5

#Greater and Less than number

In [ ]:
a= int(input("Enter the first number:"))
b= int(input("Enter the second number:"))
if a>b:
  print("a is greater than b")
  print("b is smaller than a:")
elif a<b:
  print("b is greater than a:")
  print("a is less than b:")

Enter the first number:2
Enter the second number:3
b is greater than a:
a is less than b:

#String

In [ ]:
a = "Mayank"
b= "sumit"
print("Hello"  "    "    "world") #space in letters
len(a+b)

Hello    world

11

#String Functions

In [ ]:
Name = "Mayank"
print(Name.capitalize())

Mayank

In [ ]:
Name = "Mayank"
print(Name.find("a"))

1

In [ ]:
Name = "Mayank"
print(Name.count("an"))

1

In [ ]:
Name = "Mayank"
print(Name.replace("old","new"))

Mayank

#Indexing

In [ ]:
Name = "Mayank"
print(Name[0:1])

M

#Conditional Statement (if,elif,else)

In [ ]:
#Find the number odd and even use conditional statement
num = float(input("Enter the number:"))
if num % 2 == 0:
  print("The number is even")
else:
   print("The number is odd")

Enter the number:6
The number is even

In [ ]:
#Find the Greatest number
a = float(input("Enter the first number:"))
b = float(input("Enter the second number:"))
c = float(input("Enter the third number:"))

if a>=b  and a>=c:
  print("Greatest number is a")
elif b>=a and b>=c:
  print("Greatest number is b")
else:
  print("Greatest number is c")

Enter the first number:4
Enter the second number:5
Enter the third number:6
Greatest number is c

In [ ]:
# Find the number multiple of 7
num = int(input("Enter the number:"))
if num % 7 == 0:
    print("Multiple of 7")
else:
    print("is not multiple of 7")

Enter the number:42
Multiple of 7

#List

In [ ]:
#Use append in a list
Name= ["Mayank kumar","Ankit verma","sumit singh"]
Name.append("Mohan ram")
print(Name)

['Mayank kumar', 'Ankit verma', 'sumit singh', 'Mohan ram']

In [ ]:
#use extend in a list
a = [34,56,78]
a.extend([34,45])
print(a)

[34, 56, 78, 34, 45]

In [ ]:
#insert in a list
a = [3,4,5,]
a.insert(3,6)
print(a)

[3, 4, 5, 6]

In [ ]:
#remove in a list
a = [1, 2, 3]
a.remove(2)
print(a)

[1, 3]

In [ ]:
#pop in a list
a = [1, 2, 3,5,6] #only last number delete
a.pop()
print(a)

[1, 2, 3, 5]

In [ ]:
#Find the index number in a list
a = [10, 20, 30]
print(a.index(20))

1

In [ ]:
#sort a list
a = [3, 1, 2]
a.sort()
print(a)
#reverse
a.reverse()
print(a)

[1, 2, 3]
[3, 2, 1]

In [ ]:
# copy in a list
a = [1, 2, 3]
b = a.copy()
print(b)

[1, 2, 3]

In [ ]:
#find maximum in a list
a = [5, 10, 3]
print(max(a))

10

In [ ]:
#Find minimum in list
a = [5, 10, 3]
print(min(a))   # 10

3

#Tuple

In [ ]:
#tuple
tup = ("Mayank","Ankit","sumit")
print(tup)

('Mayank', 'Ankit', 'sumit')

In [ ]:
#convert list to tuple
l = [1, 2, 3]
t = tuple(l)
print(t)

(1, 2, 3)

In [ ]:
#sum of tuple
t = (3,4,5,6,6)
print(sum(t))

24

#Dictionary

In [ ]:
#Dictionary
name = {"mayank","sumit","Ankit"}
print()

{'sumit', 'Ankit', 'mayank'}

In [ ]:
#print name and age in a dictionary
student = {"name": "Amit", "age": 20}
print(student["name"])
print(student["age"])

Amit
20

In [ ]:
Student = {"name": "mayank","age" : 21 }
print(Student["name"])
student["Roll no"] = 56

mayank
{'name': 'mayank', 'age': 21}

In [ ]:
#update in a dictionary
student = {"name": "Mayank", "age": 20}

student["age"] = 21
print(student)

{'name': 'Mayank', 'age': 21}

In [ ]:
#Delete item from dic
EMPLOYE = {"name": "Rahul", "age": 20}

del EMPLOYE["age"]
print(EMPLOYE)

{'name': 'Rahul'}

In [ ]:
#key exits and not exits in a dic
student = {"name": "Rahul", "age": 20}

if "name" in student:
    print("Name exists")
else:
    print("Name not exists")

Name exists

In [ ]:
#Length of dic
student = {"name": "Mayank", "age": 20, "course": "BCA"}
print(len(student))

3

In [ ]:
#Nested in dic
student = {  "stud1": {"name": "Rahul", "age": 20},  "stud2": {"name": "Amit", "age": 21}}

print(student["stud1"]["name"])

Rahul

#Loops

In [ ]:
#Use while loop
#print 1 to 5 counting
i = 1
while i<=5:
  print(i)
  i+=1

1
2
3
4
5

In [ ]:
#Use while loop
#print 6 to 1 counting
i = 6
while i>=1:
  print(i)
  i-=1

6
5
4
3
2
1

In [ ]:
#print multiplication table using while loop
n = 2
i=1
while i<=10:
  print(n,"*",i,"=",n*i)
  i+=1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [ ]:
#print square root of a number
i = 1
while i<=10:
  print(i*i,end=" , ")
  i+=1

1 , 4 , 9 , 16 , 25 , 36 , 49 , 64 , 81 , 100 ,

#For and Range()

In [7]:
#print 1 to 10 using for and range ()
i = 1
for i in range(1,11):
   print(i)

1
2
3
4
5
6
7
8
9
10

In [11]:
#odd number
i =1
for i in range(1,11,2):
 print(i)

1
3
5
7
9

In [7]:
#First neven number
i=1
for i in range(0,11):
  print(i+i)

0
2
4
6
8
10
12
14
16
18
20

#Function

In [14]:
def sum(a,b):
  s=(a+b)
  return
  print(sum(2,3))
  print(s)

In [21]:
def factorial (n):
  fact =1
  for i in range (1,n+1):
   fact = fact
   print(fact)
   return fact

In [23]:
#Check odd and even using function
def ccheck_even_odd(num):
    if num % 2 == 0:
        return "Even"
    else:
        return "Odd"

print(check_even_odd(7))

Odd

In [24]:
#Find factorial using function
def factorial(n):
    fact = 1
    for i in range(1, n+1):
        fact = fact * i
    return fact

print("Factorial =", factorial(5))

Factorial = 120

In [25]:
#check prime and not prime using function user input number
def check_prime(num):
    if num <= 1:
        return "Not Prime"

    for i in range(2, num):
        if num % i == 0:
            return "Not Prime"

    return "Prime"


# user input
n = int(input("Enter a number: "))

result = check_prime(n)
print("The number is", result)

Enter a number: 3
The number is Prime

In [26]:
#Add two number using function
def add(a,b):
  return a+b
x = int(input("Enter the first number:"))
y = int(input("Enter the second number:"))
print("sum=",add(x,y))

Enter the first number:3
Enter the second number:4
sum= 7

In [29]:
#check odd and even
if n%2==0:
 print("Even")
else :
  print("odd")

odd

In [36]:
#Multiplication table using function
def multiplication_table(n):
  for i in range (1,11):
    print(n,"*",i,"=",n*i)

num = int(input("Enter the number:"))
multiplication_table(num)

Enter the number:6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60